# Environment variables
.env
.env.local

# Bitrix files
/bitrix/
/upload/
/bitrixcache/
/bitrixmanagedcache/
/bitrixstackcache/
/temp/
# bitrix-docker: игнорировать все подпапки, кроме www
!bitrix-docker/
bitrix-docker/*
!bitrix-docker/www/
# Исключить все Docker-конфиги и источники
bitrix-docker/confs/
bitrix-docker/sources/
bitrix-docker/docker-compose.yml
bitrix-docker/.env*
bitrix-docker/README.md
bitrix-docker/LICENSE

bitrix-docker/www/assets/
bitrix-docker/www/bitrix/
bitrix-docker/www/upload/

# Docker
mysql_data/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
/.cursor
/.playwright-mcp/