# Environment variables
.env
.env.local

# Bitrix files
/bitrix/
/upload/
/bitrixcache/
/bitrixmanagedcache/
/bitrixstackcache/
/temp/
# bitrix-docker: игнорировать все подпапки, кроме www
!bitrix-docker/
bitrix-docker/*
!bitrix-docker/www/
bitrix-docker/www/*
!bitrix-docker/www/local/
!bitrix-docker/www/include/
!bitrix-docker/www/img/
!bitrix-docker/www/index.php
!bitrix-docker/www/korporativnyie-podarki-i-suveniryi-po-individualnomu-dizajnu/
!bitrix-docker/www/favicon.ico
bitrix-docker/www/bitrix/
bitrix-docker/www/upload/
!bitrix-docker/docker-compose.yml

# Docker
mysql_data/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
/.cursor
/.playwright-mcp/