# Environment variables
.env
.env.local

# Bitrix files
/bitrix/
/upload/
/bitrixcache/
/bitrixmanagedcache/
/bitrixstackcache/
/temp/
# bitrix-docker: игнорировать все подпапки, кроме www
!bitrix-docker/
bitrix-docker/*
!bitrix-docker/www/

bitrix-docker/www/assets/
bitrix-docker/www/bitrix/
bitrix-docker/www/upload/
!bitrix-docker/docker-compose.yml

# Docker
mysql_data/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
/.cursor
/.playwright-mcp/