.ic-svg{
	display: block;
	width: 80px;
	height: 80px;
}



/* Icons from directory "" */
.ic-svg-Ekly-hover,.ic-svg-Ekly-hover\:regular{background-image:url('/img/pr.png');background-position:0 0;background-repeat:no-repeat}
.ic-svg-Ekly-hover-dims{width:80px;height:80px}
.ic-svg-Ekly,.ic-svg-Ekly\:regular{background-image:url('/img/prg.png');background-position:0 0;background-repeat:no-repeat}
.ic-svg-Ekly-dims{width:80px;height:80px}



.ic-svg-Promo_odejda-hover,.ic-svg-Promo_odejda-hover\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.ic-svg-Promo_odejda-hover-dims{width:80px;height:80px}
.ic-svg-Promo_odejda,.ic-svg-Promo_odejda\:regular{background-image:url('icons/icons.svg');background-position:0 -80px;background-repeat:no-repeat}
.ic-svg-Promo_odejda-dims{width:80px;height:80px}


.ic-svg-VIP_podarki-hover,.ic-svg-VIP_podarki-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -160px;background-repeat:no-repeat}
.ic-svg-VIP_podarki-hover-dims{width:80px;height:80px}
.ic-svg-VIP_podarki,.ic-svg-VIP_podarki\:regular{background-image:url('icons/icons.svg');background-position:0 -240px;background-repeat:no-repeat}
.ic-svg-VIP_podarki-dims{width:80px;height:80px}
.ic-svg-besprovodnie_portativnie_kolonki-hover,.ic-svg-besprovodnie_portativnie_kolonki-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -320px;background-repeat:no-repeat}
.ic-svg-besprovodnie_portativnie_kolonki-hover-dims{width:80px;height:80px}
.ic-svg-besprovodnie_portativnie_kolonki,.ic-svg-besprovodnie_portativnie_kolonki\:regular{background-image:url('icons/icons.svg');background-position:0 -400px;background-repeat:no-repeat}
.ic-svg-besprovodnie_portativnie_kolonki-dims{width:80px;height:80px}
.ic-svg-VIP_podarki-hover,.ic-svg-VIP_podarki-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -480px;background-repeat:no-repeat}
.ic-svg-VIP_podarki-hover-dims{width:80px;height:80px}
.ic-svg-VIP_podarki,.ic-svg-VIP_podarki\:regular{background-image:url('icons/icons.svg');background-position:0 -560px;background-repeat:no-repeat}
.ic-svg-VIP_podarki-dims{width:80px;height:80px}
.ic-svg-breloki-hover,.ic-svg-breloki-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -640px;background-repeat:no-repeat}
.ic-svg-breloki-hover-dims{width:80px;height:80px}
.ic-svg-breloki,.ic-svg-breloki\:regular{background-image:url('icons/icons.svg');background-position:0 -720px;background-repeat:no-repeat}
.ic-svg-breloki-dims{width:80px;height:80px}
.ic-svg-chasi-hover,.ic-svg-chasi-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -800px;background-repeat:no-repeat}
.ic-svg-chasi-hover-dims{width:80px;height:80px}
.ic-svg-chasi,.ic-svg-chasi\:regular{background-image:url('icons/icons.svg');background-position:0 -880px;background-repeat:no-repeat}
.ic-svg-chasi-dims{width:80px;height:80px}
.ic-svg-detskie_podarki-hover,.ic-svg-detskie_podarki-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -960px;background-repeat:no-repeat}
.ic-svg-detskie_podarki-hover-dims{width:80px;height:80px}
.ic-svg-detskie_podarki,.ic-svg-detskie_podarki\:regular{background-image:url('icons/icons.svg');background-position:0 -1040px;background-repeat:no-repeat}
.ic-svg-detskie_podarki-dims{width:80px;height:80px}
.ic-svg-dlya_milih_dam-hover,.ic-svg-dlya_milih_dam-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -1120px;background-repeat:no-repeat}
.ic-svg-dlya_milih_dam-hover-dims{width:80px;height:80px}
.ic-svg-dlya_milih_dam,.ic-svg-dlya_milih_dam\:regular{background-image:url('icons/icons.svg');background-position:0 -1200px;background-repeat:no-repeat}
.ic-svg-dlya_milih_dam-dims{width:80px;height:80px}
.ic-svg-dom_i_obraz_jizni-hover,.ic-svg-dom_i_obraz_jizni-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -1280px;background-repeat:no-repeat}
.ic-svg-dom_i_obraz_jizni-hover-dims{width:80px;height:80px}
.ic-svg-dom_i_obraz_jizni,.ic-svg-dom_i_obraz_jizni\:regular{background-image:url('icons/icons.svg');background-position:0 -1360px;background-repeat:no-repeat}
.ic-svg-dom_i_obraz_jizni-dims{width:80px;height:80px}
.ic-svg-domiobraz-hover,.ic-svg-domiobraz-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -1440px;background-repeat:no-repeat}
.ic-svg-domiobraz-hover-dims{width:80px;height:80px}
.ic-svg-domiobraz,.ic-svg-domiobraz\:regular{background-image:url('icons/icons.svg');background-position:0 -1520px;background-repeat:no-repeat}
.ic-svg-domiobraz-dims{width:80px;height:80px}
.ic-svg-ejednevniki-hover,.ic-svg-ejednevniki-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -1600px;background-repeat:no-repeat}
.ic-svg-ejednevniki-hover-dims{width:80px;height:80px}
.ic-svg-ejednevniki,.ic-svg-ejednevniki\:regular{background-image:url('icons/icons.svg');background-position:0 -1680px;background-repeat:no-repeat}
.ic-svg-ejednevniki-dims{width:80px;height:80px}
.ic-svg-eko-syveniri-hover,.ic-svg-eko-syveniri-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -1760px;background-repeat:no-repeat}
.ic-svg-eko-syveniri-hover-dims{width:80px;height:80px}
.ic-svg-eko-syveniri,.ic-svg-eko-syveniri\:regular{background-image:url('icons/icons.svg');background-position:0 -1840px;background-repeat:no-repeat}
.ic-svg-eko-syveniri-dims{width:80px;height:80px}
.ic-svg-elektronika-hover,.ic-svg-elektronika-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -1920px;background-repeat:no-repeat}
.ic-svg-elektronika-hover-dims{width:80px;height:80px}
.ic-svg-elektronika,.ic-svg-elektronika\:regular{background-image:url('icons/icons.svg');background-position:0 -2000px;background-repeat:no-repeat}
.ic-svg-elektronika-dims{width:80px;height:80px}
.ic-svg-fleshki-hover,.ic-svg-fleshki-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -2080px;background-repeat:no-repeat}
.ic-svg-fleshki-hover-dims{width:80px;height:80px}
.ic-svg-fleshki,.ic-svg-fleshki\:regular{background-image:url('icons/icons.svg');background-position:0 -2160px;background-repeat:no-repeat}
.ic-svg-fleshki-dims{width:80px;height:80px}
.ic-svg-igri-hover,.ic-svg-igri-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -2240px;background-repeat:no-repeat}
.ic-svg-igri-hover-dims{width:80px;height:80px}
.ic-svg-igri,.ic-svg-igri\:regular{background-image:url('icons/icons.svg');background-position:0 -2320px;background-repeat:no-repeat}
.ic-svg-igri-dims{width:80px;height:80px}
.ic-svg-krujka-hover,.ic-svg-krujka-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -2400px;background-repeat:no-repeat}
.ic-svg-krujka-hover-dims{width:80px;height:80px}
.ic-svg-krujka,.ic-svg-krujka\:regular{background-image:url('icons/icons.svg');background-position:0 -2480px;background-repeat:no-repeat}
.ic-svg-krujka-dims{width:80px;height:80px}
.ic-svg-kryjki-hover,.ic-svg-kryjki-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -2560px;background-repeat:no-repeat}
.ic-svg-kryjki-hover-dims{width:80px;height:80px}
.ic-svg-kryjki,.ic-svg-kryjki\:regular{background-image:url('icons/icons.svg');background-position:0 -2640px;background-repeat:no-repeat}
.ic-svg-kryjki-dims{width:80px;height:80px}
.ic-svg-nagrada-hover,.ic-svg-nagrada-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -2720px;background-repeat:no-repeat}
.ic-svg-nagrada-hover-dims{width:80px;height:80px}
.ic-svg-nagrada,.ic-svg-nagrada\:regular{background-image:url('icons/icons.svg');background-position:0 -2800px;background-repeat:no-repeat}
.ic-svg-nagrada-dims{width:80px;height:80px}
.ic-svg-nagradnaya_prodykciya-hover,.ic-svg-nagradnaya_prodykciya-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -2880px;background-repeat:no-repeat}
.ic-svg-nagradnaya_prodykciya-hover-dims{width:80px;height:80px}
.ic-svg-nagradnaya_prodykciya,.ic-svg-nagradnaya_prodykciya\:regular{background-image:url('icons/icons.svg');background-position:0 -2960px;background-repeat:no-repeat}
.ic-svg-nagradnaya_prodykciya-dims{width:80px;height:80px}
.ic-svg-novii_god_i_rojdestvo-hover,.ic-svg-novii_god_i_rojdestvo-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -3040px;background-repeat:no-repeat}
.ic-svg-novii_god_i_rojdestvo-hover-dims{width:80px;height:80px}
.ic-svg-novii_god_i_rojdestvo,.ic-svg-novii_god_i_rojdestvo\:regular{background-image:url('icons/icons.svg');background-position:0 -3120px;background-repeat:no-repeat}
.ic-svg-novii_god_i_rojdestvo-dims{width:80px;height:80px}
.ic-svg-noviigod-hover,.ic-svg-noviigod-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -3200px;background-repeat:no-repeat}
.ic-svg-noviigod-hover-dims{width:80px;height:80px}
.ic-svg-noviigod,.ic-svg-noviigod\:regular{background-image:url('icons/icons.svg');background-position:0 -3280px;background-repeat:no-repeat}
.ic-svg-noviigod-dims{width:80px;height:80px}
.ic-svg-biznes-podarki-hover,.ic-svg-biznes-podarki-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -3360px;background-repeat:no-repeat}
.ic-svg-biznes-podarki-hover-dims{width:80px;height:80px}
.ic-svg-biznes-podarki,.ic-svg-biznes-podarki\:regular{background-image:url('icons/icons.svg');background-position:0 -3440px;background-repeat:no-repeat}
.ic-svg-biznes-podarki-dims{width:80px;height:80px}

.ic-svg-ofis_i_biznes-hover,.ic-svg-ofis_i_biznes-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -3360px;background-repeat:no-repeat}
.ic-svg-ofis_i_biznes-hover-dims{width:80px;height:80px}
.ic-svg-ofis_i_biznes,.ic-svg-ofis_i_biznes\:regular{background-image:url('icons/icons.svg');background-position:0 -3440px;background-repeat:no-repeat}
.ic-svg-ofis_i_biznes-dims{width:80px;height:80px}


.ic-svg-ofisbiznes-hover,.ic-svg-ofisbiznes-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -3520px;background-repeat:no-repeat}
.ic-svg-ofisbiznes-hover-dims{width:80px;height:80px}
.ic-svg-ofisbiznes,.ic-svg-ofisbiznes\:regular{background-image:url('icons/icons.svg');background-position:0 -3600px;background-repeat:no-repeat}
.ic-svg-ofisbiznes-dims{width:80px;height:80px}
.ic-svg-otdih-hover,.ic-svg-otdih-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -3680px;background-repeat:no-repeat}
.ic-svg-otdih-hover-dims{width:80px;height:80px}
.ic-svg-otdih,.ic-svg-otdih\:regular{background-image:url('icons/icons.svg');background-position:0 -3760px;background-repeat:no-repeat}
.ic-svg-otdih-dims{width:80px;height:80px}
.ic-svg-otraslevyie-suveniryi-hover,.ic-svg-otraslevyie-suveniryi-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -3840px;background-repeat:no-repeat}
.ic-svg-otraslevyie-suveniryi-hover-dims{width:80px;height:80px}
.ic-svg-otraslevyie-suveniryi,.ic-svg-otraslevyie-suveniryi\:regular{background-image:url('icons/icons.svg');background-position:0 -3920px;background-repeat:no-repeat}
.ic-svg-otraslevyie-suveniryi-dims{width:80px;height:80px}
.ic-svg-pledi-hover,.ic-svg-pledi-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -4000px;background-repeat:no-repeat}
.ic-svg-pledi-hover-dims{width:80px;height:80px}
.ic-svg-pledi,.ic-svg-pledi\:regular{background-image:url('icons/icons.svg');background-position:0 -4080px;background-repeat:no-repeat}
.ic-svg-pledi-dims{width:80px;height:80px}
.ic-svg-podarki-hover,.ic-svg-podarki-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -4160px;background-repeat:no-repeat}
.ic-svg-podarki-hover-dims{width:80px;height:80px}
.ic-svg-podarki,.ic-svg-podarki\:regular{background-image:url('icons/icons.svg');background-position:0 -4240px;background-repeat:no-repeat}
.ic-svg-podarki-dims{width:80px;height:80px}
.ic-svg-podarki_dlya_myjchin-hover,.ic-svg-podarki_dlya_myjchin-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -4320px;background-repeat:no-repeat}
.ic-svg-podarki_dlya_myjchin-hover-dims{width:80px;height:80px}
.ic-svg-podarki_dlya_myjchin,.ic-svg-podarki_dlya_myjchin\:regular{background-image:url('icons/icons.svg');background-position:0 -4400px;background-repeat:no-repeat}
.ic-svg-podarki_dlya_myjchin-dims{width:80px;height:80px}
.ic-svg-podarki_i_syveniri_k_prazdnikam-hover,.ic-svg-podarki_i_syveniri_k_prazdnikam-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -4480px;background-repeat:no-repeat}
.ic-svg-podarki_i_syveniri_k_prazdnikam-hover-dims{width:80px;height:80px}
.ic-svg-podarki_i_syveniri_k_prazdnikam,.ic-svg-podarki_i_syveniri_k_prazdnikam\:regular{background-image:url('icons/icons.svg');background-position:0 -4560px;background-repeat:no-repeat}
.ic-svg-podarki_i_syveniri_k_prazdnikam-dims{width:80px;height:80px}
.ic-svg-podarochnaya_ypakovka-hover,.ic-svg-podarochnaya_ypakovka-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -4640px;background-repeat:no-repeat}
.ic-svg-podarochnaya_ypakovka-hover-dims{width:80px;height:80px}
.ic-svg-podarochnaya_ypakovka,.ic-svg-podarochnaya_ypakovka\:regular{background-image:url('icons/icons.svg');background-position:0 -4720px;background-repeat:no-repeat}
.ic-svg-podarochnaya_ypakovka-dims{width:80px;height:80px}
.ic-svg-podarochnie_nabori-hover,.ic-svg-podarochnie_nabori-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -4800px;background-repeat:no-repeat}
.ic-svg-podarochnie_nabori-hover-dims{width:80px;height:80px}
.ic-svg-podarochnie_nabori,.ic-svg-podarochnie_nabori\:regular{background-image:url('icons/icons.svg');background-position:0 -4880px;background-repeat:no-repeat}
.ic-svg-podarochnie_nabori-dims{width:80px;height:80px}
.ic-svg-podarupak-hover,.ic-svg-podarupak-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -4960px;background-repeat:no-repeat}
.ic-svg-podarupak-hover-dims{width:80px;height:80px}
.ic-svg-podarupak,.ic-svg-podarupak\:regular{background-image:url('icons/icons.svg');background-position:0 -5040px;background-repeat:no-repeat}
.ic-svg-podarupak-dims{width:80px;height:80px}
.ic-svg-posyda-hover,.ic-svg-posyda-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -5120px;background-repeat:no-repeat}
.ic-svg-posyda-hover-dims{width:80px;height:80px}
.ic-svg-posyda,.ic-svg-posyda\:regular{background-image:url('icons/icons.svg');background-position:0 -5200px;background-repeat:no-repeat}
.ic-svg-posyda-dims{width:80px;height:80px}
.ic-svg-promo-odejda-hover,.ic-svg-promo-odejda-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -5280px;background-repeat:no-repeat}
.ic-svg-promo-odejda-hover-dims{width:80px;height:80px}
.ic-svg-promo-odejda,.ic-svg-promo-odejda\:regular{background-image:url('icons/icons.svg');background-position:0 -5360px;background-repeat:no-repeat}
.ic-svg-promo-odejda-dims{width:80px;height:80px}
.ic-svg-promo_symki-hover,.ic-svg-promo_symki-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -5440px;background-repeat:no-repeat}
.ic-svg-promo_symki-hover-dims{width:80px;height:80px}
.ic-svg-promo_symki,.ic-svg-promo_symki\:regular{background-image:url('icons/icons.svg');background-position:0 -5520px;background-repeat:no-repeat}
.ic-svg-promo_symki-dims{width:80px;height:80px}
.ic-svg-promosumki-hover,.ic-svg-promosumki-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -5600px;background-repeat:no-repeat}
.ic-svg-promosumki-hover-dims{width:80px;height:80px}
.ic-svg-promosumki,.ic-svg-promosumki\:regular{background-image:url('icons/icons.svg');background-position:0 -5680px;background-repeat:no-repeat}
.ic-svg-promosumki-dims{width:80px;height:80px}
.ic-svg-promosyveniri-hover,.ic-svg-promosyveniri-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -5760px;background-repeat:no-repeat}
.ic-svg-promosyveniri-hover-dims{width:80px;height:80px}
.ic-svg-promosyveniri,.ic-svg-promosyveniri\:regular{background-image:url('icons/icons.svg');background-position:0 -5840px;background-repeat:no-repeat}
.ic-svg-promosyveniri-dims{width:80px;height:80px}
.ic-svg-rychki-hover,.ic-svg-rychki-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -5920px;background-repeat:no-repeat}
.ic-svg-rychki-hover-dims{width:80px;height:80px}
.ic-svg-rychki,.ic-svg-rychki\:regular{background-image:url('icons/icons.svg');background-position:0 -6000px;background-repeat:no-repeat}
.ic-svg-rychki-dims{width:80px;height:80px}
.ic-svg-vizitnica-hover,.ic-svg-vizitnica-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -6080px;background-repeat:no-repeat}
.ic-svg-vizitnica-hover-dims{width:80px;height:80px}
.ic-svg-vizitnica,.ic-svg-vizitnica\:regular{background-image:url('icons/icons.svg');background-position:0 -6160px;background-repeat:no-repeat}
.ic-svg-vizitnica-dims{width:80px;height:80px}
.ic-svg-vizitnici-hover,.ic-svg-vizitnici-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -6240px;background-repeat:no-repeat}
.ic-svg-vizitnici-hover-dims{width:80px;height:80px}
.ic-svg-vizitnici,.ic-svg-vizitnici\:regular{background-image:url('icons/icons.svg');background-position:0 -6320px;background-repeat:no-repeat}
.ic-svg-vizitnici-dims{width:80px;height:80px}
.ic-svg-zajigalka-hover,.ic-svg-zajigalka-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -6400px;background-repeat:no-repeat}
.ic-svg-zajigalka-hover-dims{width:80px;height:80px}
.ic-svg-zajigalka,.ic-svg-zajigalka\:regular{background-image:url('icons/icons.svg');background-position:0 -6480px;background-repeat:no-repeat}
.ic-svg-zajigalka-dims{width:80px;height:80px}
.ic-svg-zajigalki-hover,.ic-svg-zajigalki-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -6560px;background-repeat:no-repeat}
.ic-svg-zajigalki-hover-dims{width:80px;height:80px}
.ic-svg-zajigalki,.ic-svg-zajigalki\:regular{background-image:url('icons/icons.svg');background-position:0 -6640px;background-repeat:no-repeat}
.ic-svg-zajigalki-dims{width:80px;height:80px}
.ic-svg-zaryadnie_ystroistva_Power_Bank-hover,.ic-svg-zaryadnie_ystroistva_Power_Bank-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -6720px;background-repeat:no-repeat}
.ic-svg-zaryadnie_ystroistva_Power_Bank-hover-dims{width:80px;height:80px}
.ic-svg-zaryadnie_ystroistva_Power_Bank,.ic-svg-zaryadnie_ystroistva_Power_Bank\:regular{background-image:url('icons/icons.svg');background-position:0 -6800px;background-repeat:no-repeat}
.ic-svg-zaryadnie_ystroistva_Power_Bank-dims{width:80px;height:80px}
.ic-svg-zont-hover,.ic-svg-zont-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -6880px;background-repeat:no-repeat}
.ic-svg-zont-hover-dims{width:80px;height:80px}
.ic-svg-zont,.ic-svg-zont\:regular{background-image:url('icons/icons.svg');background-position:0 -6960px;background-repeat:no-repeat}
.ic-svg-zont-dims{width:80px;height:80px}
.ic-svg-zonti-hover,.ic-svg-zonti-hover\:regular{background-image:url('icons/icons.svg');background-position:0 -7040px;background-repeat:no-repeat}
.ic-svg-zonti-hover-dims{width:80px;height:80px}
.ic-svg-zonti,.ic-svg-zonti\:regular{background-image:url('icons/icons.svg');background-position:0 -7120px;background-repeat:no-repeat}
.ic-svg-zonti-dims{width:80px;height:80px}