.b-popup{
    display: none;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0;
    left: 0;
    z-index: 100;
}
.b-popup .b-popup-content{
    max-width:550px;
    max-height: 400px;
    padding:15px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    z-index: 101;
}
.b-popup .popup-buttons{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.b-popup .popup-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.b-popup .popup-info img {
    width: 150px;
    margin-right: 15px;
}
