volumes:
  ru_redis_data:
    driver: local
  ru_mysql_log_data:
    driver: local
  ru_mysql_lib_data:
    driver: local
  ru_postgres_data:
    driver: local
  ru_www_data:
    driver: local
  ru_bxtemp_data:
    driver: local
  ru_msmtp_data:
    driver: local
  ru_browscap_data:
    driver: local
  ru_geoip2_data:
    driver: local
  ru_ssl_data:
    driver: local
services:
  memcached:
    image: memcached:1.6.39-alpine
    container_name: ru_memcached
    restart: unless-stopped
    env_file:
      - .env
#    ports:
#      - "11211:11211"
    init: true
    cgroup: private
    security_opt:
      - no-new-privileges
    cap_drop:
      - ALL
    tmpfs:
      - /tmp:noexec,nodev,nosuid
      - /var/tmp:noexec,nodev,nosuid
      - /dev/shm:noexec,nodev,nosuid
    networks:
      ru_dev:
        aliases:
          - memcached
  redis:
    image: redis:7.2.12-alpine
    #image: redis:7.4.7-alpine
    #image: redis:8.0.5-alpine
    #image: redis:8.2.3-alpine
    #image: redis:8.4.0-alpine
    container_name: ru_redis
    restart: unless-stopped
    command: redis-server /usr/local/etc/redis/redis.conf
    env_file:
      - .env
#    ports:
#      - "6379:6379"
    volumes:
      - ru_redis_data:/data
      - ./confs/redis/redis.conf:/usr/local/etc/redis/redis.conf
    init: true
    cgroup: private
    security_opt:
      - no-new-privileges
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETUID
      - SETGID
    tmpfs:
      - /tmp:noexec,nodev,nosuid
      - /var/tmp:noexec,nodev,nosuid
      - /dev/shm:noexec,nodev,nosuid
    networks:
      ru_dev:
        aliases:
          - redis
  postgres:
    #image: postgres:14.20-bookworm
    #image: postgres:15.15-bookworm
    image: postgres:16.11-bookworm
    #image: postgres:17.7-bookworm
    #image: postgres:18.1-bookworm
    container_name: ru_postgres
    restart: unless-stopped
    env_file:
      - .env
      - .env_sql
#    ports:
#      - "5432:5432"
    volumes:
      - ru_postgres_data:/var/lib/postgresql/data
    init: true
    cgroup: private
    security_opt:
      - no-new-privileges
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - FOWNER
      - SETUID
      - SETGID
      - DAC_OVERRIDE
    tmpfs:
      - /tmp:noexec,nodev,nosuid
      - /var/tmp:noexec,nodev,nosuid
      - /dev/shm:noexec,nodev,nosuid
    networks:
      ru_dev:
        aliases:
          - postgres
  mysql:
    image: quay.io/bitrix24/percona-server:8.0.43-v1-rhel
    #image: quay.io/bitrix24/percona-server:8.4.6-v1-rhel
    container_name: ru_mysql
    restart: unless-stopped
    env_file:
      - .env
      - .env_sql
#    ports:
#      - "3306:3306"
#      - "33060:33060"
    volumes:
      - ru_mysql_log_data:/var/log/mysql
      - ru_mysql_lib_data:/var/lib/mysql
    init: true
    cgroup: private
    security_opt:
      - no-new-privileges
    cap_drop:
      - ALL
    cap_add:
      - SYS_NICE
    tmpfs:
      - /tmp:noexec,nodev,nosuid
      - /var/tmp:noexec,nodev,nosuid
      - /dev/shm:noexec,nodev,nosuid
    networks:
      ru_dev:
        aliases:
          - mysql
  php:
    image: quay.io/bitrix24/php:8.2.29-fpm-v1-alpine
    #image: quay.io/bitrix24/php:8.3.28-fpm-v1-alpine
    #image: quay.io/bitrix24/php:8.4.15-fpm-v1-alpine
    container_name: ru_php
    restart: unless-stopped
    env_file:
      - .env
      - .env_php
#    ports:
#      - "9000:9000"
    volumes:
      - ./confs/php82/etc/:/usr/local/etc/
      #- ./confs/php83/etc/:/usr/local/etc/
      #- ./confs/php84/etc/:/usr/local/etc/
      - ./www:/opt/www/
      - ru_bxtemp_data:/opt/.bx_temp/
      - ru_msmtp_data:/opt/msmtp/
      - ru_browscap_data:/opt/browscap/
      - ru_geoip2_data:/opt/geoip2/
      - ru_ssl_data:/ssl/
    init: true
    cgroup: private
    security_opt:
      - no-new-privileges
    cap_drop:
      - ALL
    tmpfs:
      - /tmp:noexec,nodev,nosuid
      - /var/tmp:noexec,nodev,nosuid
      - /dev/shm:noexec,nodev,nosuid
    networks:
      ru_dev:
        aliases:
          - php
    depends_on:
      - mysql
      - postgres
  nginx:
    image: quay.io/bitrix24/nginx:1.28.0-v3-alpine
    container_name: ru_nginx
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8590:80"
      - "8591:443"
    volumes:
      - ./confs/nginx/:/etc/nginx/
      - ./www:/opt/www/
      - ru_bxtemp_data:/opt/.bx_temp/
      - ru_ssl_data:/ssl/
    init: true
    cgroup: private
    security_opt:
      - no-new-privileges
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETUID
      - SETGID
      - NET_BIND_SERVICE
    tmpfs:
      - /tmp:noexec,nodev,nosuid
      - /var/tmp:noexec,nodev,nosuid
      - /dev/shm:noexec,nodev,nosuid
    networks:
      ru_dev:
        aliases:
          - nginx
  push-sub:
    image: quay.io/bitrix24/push:3.1-v1-alpine
    container_name: ru_push_sub
    restart: unless-stopped
    env_file:
      - .env
      - .env_push
      - .env_push_sub
      - .env_redis
#    ports:
#      - "8010:8010"
    init: true
    cgroup: private
    security_opt:
      - no-new-privileges
    cap_drop:
      - ALL
    tmpfs:
      - /tmp:noexec,nodev,nosuid
      - /var/tmp:noexec,nodev,nosuid
      - /dev/shm:noexec,nodev,nosuid
    networks:
      ru_dev:
        aliases:
          - push_sub
    depends_on:
      - redis
  push-pub:
    image: quay.io/bitrix24/push:3.1-v1-alpine
    container_name: ru_push_pub
    restart: unless-stopped
    env_file:
      - .env
      - .env_push
      - .env_push_pub
      - .env_redis
#    ports:
#      - "9010:9010"
    init: true
    cgroup: private
    security_opt:
      - no-new-privileges
    cap_drop:
      - ALL
    tmpfs:
      - /tmp:noexec,nodev,nosuid
      - /var/tmp:noexec,nodev,nosuid
      - /dev/shm:noexec,nodev,nosuid
    networks:
      ru_dev:
        aliases:
          - push_pub
    depends_on:
      - redis
  sphinx:
    image: quay.io/bitrix24/sphinx:2.2.11-v1-alpine
    container_name: ru_sphinx
#    ports:
#      - "9306:9306"
#      - "9312:9312"
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./confs/sphinx/sphinx.conf:/opt/sphinx/conf/sphinx.conf
    init: true
    cgroup: private
    security_opt:
      - no-new-privileges
    cap_drop:
      - ALL
    tmpfs:
      - /tmp:noexec,nodev,nosuid
      - /var/tmp:noexec,nodev,nosuid
      - /dev/shm:noexec,nodev,nosuid
    networks:
      ru_dev:
        aliases:
          - sphinx
  cron:
    image: quay.io/bitrix24/php:8.2.29-fpm-v1-alpine
    #image: quay.io/bitrix24/php:8.3.28-fpm-v1-alpine
    #image: quay.io/bitrix24/php:8.4.15-fpm-v1-alpine
    container_name: ru_cron
    restart: unless-stopped
    command: crond -f -d 8
    env_file:
      - .env
      - .env_php
#    ports:
#      - "9001:9000"
    volumes:
      - ./confs/php82/etc/:/usr/local/etc/
      #- ./confs/php83/etc/:/usr/local/etc/
      #- ./confs/php84/etc/:/usr/local/etc/
      - ./www:/opt/www/
      - ru_bxtemp_data:/opt/.bx_temp/
      - ru_msmtp_data:/opt/msmtp/
      - ru_browscap_data:/opt/browscap/
      - ru_geoip2_data:/opt/geoip2/
    init: true
    cgroup: private
    security_opt:
      - no-new-privileges
    cap_drop:
      - ALL
    cap_add:
      - SETUID
      - SETGID
    tmpfs:
      - /tmp:noexec,nodev,nosuid
      - /var/tmp:noexec,nodev,nosuid
      - /dev/shm:noexec,nodev,nosuid
    networks:
      ru_dev:
        aliases:
          - cron
    depends_on:
      - php
  ssl:
    image: quay.io/bitrix24/ssl:1.0-v1-alpine
    container_name: ru_ssl
    restart: unless-stopped
    env_file:
      - .env
      - .env_ssl
    volumes:
      - ru_ssl_data:/ssl/
    init: true
    cgroup: private
    security_opt:
      - no-new-privileges
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - FOWNER
      - SETUID
      - SETGID
    tmpfs:
      - /tmp:noexec,nodev,nosuid
      - /var/tmp:noexec,nodev,nosuid
      - /dev/shm:noexec,nodev,nosuid
    networks:
      ru_dev:
        aliases:
          - ssl
    depends_on:
      - nginx
  lego:
    image: quay.io/bitrix24/lego:4.28.1-v1-alpine
    container_name: ru_lego
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "80:80"
    volumes:
      - ru_ssl_data:/ssl/
    init: true
    cgroup: private
    security_opt:
      - no-new-privileges
    cap_drop:
      - ALL
    tmpfs:
      - /tmp:noexec,nodev,nosuid
      - /var/tmp:noexec,nodev,nosuid
      - /dev/shm:noexec,nodev,nosuid
    networks:
      ru_dev:
        aliases:
          - lego
    depends_on:
      - nginx
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: ru_phpmyadmin
    restart: unless-stopped
    env_file:
      - .env_sql
    environment:
      PMA_ARBITRARY: 1
      PMA_HOST: mysql
      PMA_PORT: 3306
      UPLOAD_LIMIT: 300M
      MAX_EXECUTION_TIME: 600
    ports:
      - "8081:80"
    networks:
      ru_dev:
        aliases:
          - phpmyadmin
    depends_on:
      - mysql
networks:
  ru_dev:
    driver: bridge
    attachable: true
    internal: false
    ipam:
      driver: default
      config:
        - subnet: 10.10.11.0/24
