#footer_form .field-1 {
	display: flex;
	flex-wrap: wrap;
}

#footer_form textarea {
	resize: none;
	background-color: transparent;
	height: 182px;
}

#footer_form .field-1 .field-7 {
	max-width: 427px;
	width: 100%;
}

#footer_form .field-1 .field-2 {
	max-width: 427px;
	width: 100%;
	margin-right: 30px;
}

#footer_form .field-1 .field-8,
#footer_form .field-1 div:first-child {
	display: none;
}

#footer_form .form-head {
	display: none;
}


#footer_form #field-id334168,
#footer_form #field-id639159,
#footer_form #field-id829 {
	border: none;
	box-shadow: none;
	height: 42px;
	margin-bottom: 28px;
	border-bottom: 1px solid #AFAFAF;
	background-color: transparent;
}

#footer_form .field-10.buttonform {
	text-align: left;
}

#footer_form .field-10.buttonform input {
	width: 181px;
	height: 50px;
	background-color: #4487C8;
	border-radius: 60px;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	color: #FFFFFF;
	opacity: 1;

}

#footer_form .field-9 div:first-child,
#footer_form .field-9 .field-12 {
	display: none;
}

#footer_form .field-9 {
	max-width: 885px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

#footer_form .field-11 {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	color: #222229;
}

#footer_form .field-11 {
	display: flex;
}

#footer_form .field-11 input {
	vertical-align: initial;
	margin-right: 10px;
}

#footer_form {
	margin-bottom: 57px;
}

#footer_form-form {
	padding-bottom: 74px;
	padding-top: 63px;
}

#footer_form-form {
	background-image: url('/local/templates/eklektika/assets/img/modern-3d-white-paper-style-background.png');
	background-size: cover;
}

#footer_form label {
	color: #000;
	font-family: 'Ubuntu';
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 31px;
}

@media screen and (max-width: 530px) {
	#footer_form-form {
		background-image: url('/local/templates/eklektika/assets/img/mobile_bg.png');
		background-size: cover;
	}

	#footer_form-form .field-11 br {
		display: none;
	}

	#footer_form-form .field-11 a {
		margin-left: 0;
	}
}

@media screen and (max-width: 758px) {
	#footer_form .field-11 {
		margin-top: 10px;
		margin-left: 11px;
	}

	#footer_form .field-1 .field-2 {
		margin-right: 0;
	}
}